@{
    ViewBag.Title = "Home Page";
}

<img src="~/images/steak1.jpg" class="center"/>
<br />
<p>
    Great Food, Great Service! All our food is made to order, and we take great pride in making delicious meals.
</p>
