@{
    ViewBag.Title = "Home Page";
}

<img src="~/images/steak1.jpg" class="center"/>
<p>
    Some Test Data describing the restraunt and how old it is, lots of flavor text,
    this text is just rambling so that I can see what it will look like.
    Some Test Data describing the restraunt and how old it is, lots of flavor text,
    this text is just rambling so that I can see what it will look like.
</p>
