@model FoodListViewModel
@{
    ViewBag.Title = "Menu";
}
<h2>Menu</h2>

<div class="row" id="menu">
    <div class="col-8 offset-2">
        <ul class="list-group">
            @foreach (Food food in Model.Foods)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/images/@food.ImagePath" alt="" width="200" height="200" />
                        </div>
                        <div class="col-sm-4">
                            @food.Name
                        </div>
                        <div class="col-sm-4">
                            @food.Description
                        </div>
                        <div class="col-sm-4">
                            @food.Price
                        </div>
                        <div class="col-sm-4">
                            <a asp-action="Details" asp-route-id="@food.FoodId" class="btn btn-primary">Order</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
   
