@model FoodListViewModel
@{
}
<div class="text-center">
    <h2>My Order</h2>
    <div class="col-sm-10">
        <table class="table table-bordered table-striped mt-2" border="1" bgcolor="white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Food food in Model.Foods)
                {
                    <tr>
                        <td>@food.Name</td>
                        <td>@food.Price.ToString("c")</td>
                        <td>
                            <form asp-controller="Home" asp-action="Remove">
                                <button class="btn btn-primary"  type="submit" name="f" value="@food.Name">Remove</button>
                            </form>
                        </td>
                        
                    </tr>
                    ViewBag.Total += food.Price;
                }
                <tr>
                    <td>Total</td>
                    <td>@ViewBag.Total.ToString("c")</td>
                </tr>
            </tbody>
        </table>
       
        
        
        <form asp-action="Delete" method="post">
            <button type="submit" class="btn btn-primary">
                Clear Order
            </button>
        </form>
    </div>

</div>




